/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
  *=require font_awesome5_webfont
 */

.user {
  display: flex;
  justify-content: space-evenly;
}

.user-details {
  border: solid 3px black;
  padding: 1% 20% 1% 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.user img {
  padding: 1% 5%;
  border: solid 1px black;
  margin-bottom: 2%;
}

.user-details p {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 65%;
  white-space: nowrap;
}

.user-details h2 {
  white-space: nowrap;
  margin-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

.bio {
  border: solid 3px black;
  margin-left: 11%;
  margin-right: 5%;
  padding: 2% 1%;
}

.post {
  border: solid 3px black;
  margin-left: 11%;
  margin-right: 5%;
  padding: 2% 1%;
  margin-top: 2%;

  /* margin-bottom: 2%; */
}

.button {
  text-align: center;
}

.button button {
  border: solid 2px black;
  padding: 1%;
  border-radius: 7%;
  cursor: pointer;
}

.comments {
  border: black 3px solid;
  margin-left: 11%;
  margin-right: 5%;
  padding: 2% 1%;
}

.commlikes {
  margin-left: 80%;
}

.container {
  margin-bottom: 5%;
}

.post-detail {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  margin-top: 3%;
}
